.container{
	position: relative;
	width: 1170px;
}

body{
	padding: 0;
	margin: 0;
}

h4{
	text-align:center;
}

#background{
	display: block;
	margin: auto;
}

#reset_btn{
	display: block;
	margin: auto;
}

#transparent_btn{
	position: absolute;
	width: 52%;
	height: 19%;
	top: 41%;
	left: 26%;
	cursor: pointer;
}

#cube{
	position: absolute;
	top: 6%;
	left: 35%;
	width: 30%;
	z-index: 2;
	visibility: hidden;	
}

#arrow{
	position: absolute;
	top: 88.5%;
	left: 35%;
	width: 2%;
	visibility: hidden;
}

#instruction_tag{
	position: absolute;
	top: 89%;
	left: 38%;
	visibility: hidden;
}

#clockface1{
	position: absolute;
	top: 41%;
	left: 39.5%;
	width: 20%;
	z-index: 3;
	visibility: hidden;
}

#clockhand1{
	position: absolute;
	top: 43.8%;
	left: 49%;
	width: 0.8%;
	z-index: 4;
	visibility: hidden;
	-webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}

#lamp1{
	position: absolute;
	top: 31%;
	left: 41%;
	opacity: 0.4;
	visibility: hidden;
}

#yellow_cuvette{
	position: absolute;
	top: 51%;
	left: 37%;
	width: 13%;
	visibility: hidden;
}

#lamp2{
	position: absolute;
	top: 30%;
	left: 27%;
	opacity: 1;
	visibility: hidden;
}

#purple_cuvette{
	position: absolute;
	top: 51%;
	left: 40%;
	opacity: 1;
	visibility: hidden;
}

#shelf1{
	position: absolute;
	top: 22%;
	left: 19%;
	width: 62%;
}

#instruction_box{
	position: absolute;
	top: 88%;
	left: 19%;
	width: 62%;
}

#instruction{
	position: absolute;
	top: 88%;
	left: 21%;
	font-size: 100%;
	color: yellow;
	max-width: 55%;
	max-height: 10%;
	overflow: auto;
}

#sample_number{
	position: absolute;
	top: 4%;
	left: 27%;
	color: white;
	font-size: 110%;
}

#spectrometer{
	position: absolute;
    top: 55.9%;
    left: 20%;
}

#computer{
	position: absolute;
	top: 56.5%;
	left: 46.8%;
}

#pipette{
	position: absolute;
	top: 8.5%;
	left: 55%;
}

#shelf2{
	position: absolute;
	top: 48%;
	left: 62%;
}

#ascorbic_acid{
	position: absolute;
	top: 37%;
	left: 76%;
}

#power_btn{
	position: absolute;
	top: 81%;
	left: 22.4%;
	width: 1%;
	cursor: pointer;
}

#spectrometerlid_btn{
	position: absolute;
	top: 64%;
	left: 38.4%;
	width: 4%;
}

#computerscreen_btn{
	position: absolute;
	top: 57%;
	left: 48.8%;
	width: 10.2%;
	height: 15%;
}

#clockface2{
	position: absolute;
	top: -1%;
	left: 18.5%;
	width: 63%;
	z-index: 3;
	visibility: hidden;
	height: 100%;
}

#clockhand2{
	position: absolute;
	top: 37.4%;
	left: 50.6%;
	width: 0.8%;
	z-index: 4;
	visibility: hidden;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#grey_solution{
	position: absolute;
	top: 17.4%;
	left: 41.6%;
	width: 2%;
}

#yellow_solution{
	position: absolute;
	top: 74%;
	left: 64.6%;
	width: 2%;
}

#purple_solution{
	position: absolute;
	top: 74%;
	left: 74.6%;
	width: 2%;
	z-index: 2;
}

#purpleSol1{
	position: absolute;
	top: 74%;
	left: 74.6%;
	width: 2%;
	z-index: 1;
	visibility: hidden;
}

#ref_cuvette{
	position: absolute;
	top: 48%;
	left: 49%;
	width: 1.2%;
	z-index: 1;
	visibility: hidden;
}

#graph1{
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 4;
	height: 78%;
	visibility: hidden;
}

#scan_btn{
	position: absolute;
	top: 63%;
	left: 30.2%;
	width: 6.5%;
	height: 6%;
	z-index: 5;
}

#close_btn{
	position: absolute;
	top: 81%;
	left: 73.2%;
	width: 6.5%;
	height: 6%;
	z-index: 6;
}

#particlegrowth_btn{
	position: absolute;
	top: 39%;
	left: 26.2%;
	visibility: hidden;
}

#video1{
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 4;
	height: 78%;
	visibility: hidden;
}